









/*Formatting the title*/

.title{ 
    background-color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 25px;

}

/* Formatting the links*/
a:link {
  text-decoration: none;
  background-color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

a:visited {
  text-decoration: none;
  background-color: white;
}

a:hover {
  text-decoration: underline;
  background-color: grey;
}

a:active {
  text-decoration: underline;
  background-color: grey
}


.nav {
  list-style-type:none;
}

.nav li {
display:inline-block;
margin: 10px;

}






/* Whole page things*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #85e085;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  background-image: url("images/pexels-karolina-grabowska-4198183.jpg");

}





/* Create three unequal columns next to each other */
.column {
  float: left;
  padding: 10px;
  height:1000px;
  
}

/* Left and right column */
.column.side {
  width: 25%;
  height: 1000px;
  background-color:#85e085;"
}

/* Middle column */
.column.middle {
  width: 50%;
  background-color: #ffffff;
}


/* To center a few pieces of the recipe page */
.recipe {
    text-align:center;
}



